################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Amplifier_RD15HVF1/FileContentIndex
